/* Global Styles */

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font-size: 100%;
	font: inherit;
	font-family:Arial;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

body {
	background:#ddb647;
	text-rendering: optimizeLegibility;
}

form {
	display:inline;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 1.6em;
	text-shadow: 2px 2px 3px rgba(0,0,0,.7);
}

h2 {
	font-size: 1.4em;
	text-shadow: 2px 2px 3px rgba(0,0,0,.7);
}

h3 {
	font-size: 1.2em;
	text-shadow: 1px 1px 2px rgba(48,48,48,.7);
	margin:0;
	padding:10px;
}

h4 {
	font-size: 1.1em;
	text-shadow: 1px 1px 1px rgba(48,48,48,.7);
	margin:0;
	padding:8px;
}

table {
	border:none;
}

td,th {
	color:#14285f;
	padding:10px;
	text-align:center;
	border: 1pt solid rgb(20,40,95);
}

a {
	color: #14285f;
	text-decoration:underline;
	}
	
a:hover {
	color: #FF3300;
	text-decoration:underline;
	}
	
ul,ol{
	list-style-position:inside;
	padding-left:10px;
}

/* ID Styles */

/* This is used by the <header> tag specified in the various php page files */
#mainHeader {
	background: #f57d53;
	color: #f0e9d6;
	padding: 15px;
	text-align:center;
	/*box-shadow: 10px 10px 5px 5px rgba(0,0,0,.7);
	-moz-box-shadow: 10px 10px 5px 5px rgba(0,0,0,.7);
	-webkit-box-shadow: 10px 10px 5px 5px rgba(0,0,0,.7);*/
}

/* This wraps the Load Input File section */
#loadTerms{
	color:black;
	background-color: #ddb647;
	padding:10px;
}

#loadTerms h3{
	padding-left:0px;
	text-align:center;
	text-transform:capitalize;
}

#loadTerms h5{
	padding: 10px 0;
	text-transform: uppercase;
}

#loadTerms p{
	padding-bottom: 10px;
}

#loadTerms div.termInfo{
	background-color: #f0e9d6;
	border-radius: 25px;
	padding: 10px;
	box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
	-moz-box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
	-webkit-box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
}

#selectOptions
{
	margin: 10px;
	background-color: #f0e9d6;
	border-radius: 25px;
	box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
	-moz-box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
	-webkit-box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
}

#selectOptions h3{
	text-align: center;
	border-radius: 25px;
}

#selectOptions h4{
	text-align: right;
}

#selectOptions p.clearAndCenter
{
	clear:both;
	padding:10px;
	text-align:center;
}

#selectOptions form{
	display:inline;
}

#helpers
{
	clear:both;
	font-size:1em;
	background-color: #ddb647;
	padding:10px;
}

#helpers form{
	display:inline;
}


#statusArea{
	clear:both;
	padding:5px;
	font-size: .8em;
	color:black;
	background-color: #cddac0;
}


/* This wraps the makequiz section */
#makeQuiz{
	color:black;
	background-color: #f57d53;
	padding:10px;
}

#makeQuiz div.quizInfo{
	background-color: #f0e9d6;
	border-radius: 25px;
	padding: 10px;
	box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
	-moz-box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
	-webkit-box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
}

/* This wraps the help section */
#helpPage{
	color:black;
	background-color: #DDB647;
	padding:10px;
}

#helpPage div.helpInfo{
	background-color: #f0e9d6;
	border-radius: 25px;
	padding: 10px;
	box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
	-moz-box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
	-webkit-box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
}

#helpPage p,ol,ul{
	margin-top:10px;
	padding:10px;
}

#helpPage pre{
	margin:0;
	padding:30px;
	font-size:1.2em;
}

#helpPage table{
	padding:25px;
}

#helpPage th.noborder{
	border:none;
}

#helpPage th.helpsquare, td.helpsquare{
	background:#DDB647;
	font-weight:bold;
}

/* This wraps the manual entry form */
#manualInput{
	color:black;
	background-color: #DDB647;
	padding:10px;
}

#manualInput div.manualInfo{
	background-color: #f0e9d6;
	border-radius: 25px;
	padding: 10px;
	box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
	-moz-box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
	-webkit-box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
}

#manualInput p{
	font-size:1em;
}

#manualInput textarea{
	margin-top:10px;
	margin-bottom:10px;
	height:auto;
	width:90%;
	font-size:0.9em;
}

#manualInput h3{
	padding-left:0px;
	text-align:left;
	text-transform:capitalize;
}

/* Class Styles */

.fancyButton{
	background-color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #FFF;
    font-size: 1.4em;
    text-decoration: none;
    cursor: pointer;
    border:none;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.7);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,.7);
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,.7);
}

.fancyButton:hover{
	border: none;
	background:red;
	color:#FFF;
	box-shadow: 0px 0px 1px #777;
}

.loadTermsButton{
    font-size: 1em;
    padding:3px 5px;
}

div.quizForm
{
	margin-left:10px;
}

div.quizOptionEven
{
	background-color: #cddac0;
}

div.quizOptionOdd
{
	color: #f0e9d6;
	background-color: #485a51;
}

div.quizOptionLeft
{
	clear: both;
	float: left;
	padding: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align:right;
	width: 20%;
	color:inherit;
	background-color:inherit;
	min-width: 250px; 
	min-height: 100px;
	border-radius: 15px;
}

div.quizOptionRight
{
	float: left;
	padding: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	width: 70%;
	min-height:100px;
	font-size: 1.2em;
	border-radius: 15px;
	background-color:inherit;
	color:inherit;
}


.genQuizButton{
}

.genQuizButton:hover{
}

.helperButton{
    min-width:280px;
}

.helperButton:hover{
}

.puzzleButton{
    min-width:200px;
}

div.puzzle
{
	margin-top:10px;
	margin-bottom:10px;
}

div.puzzleEven
{
	margin-top:10px;
	background-color: #f0e9d6;
	padding-left:10px;
	border-radius: 25px;
	color:black;
	box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
	-moz-box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
	-webkit-box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
}

div.puzzleOdd
{
	margin-top:10px;
	background-color: #cddac0;
	padding-left:10px;
	color:black;
	border-radius: 25px;
	box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
	-moz-box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
	-webkit-box-shadow: 2px 2px 3px 3px rgba(0,0,0,.7);
}

div.puzzleInfo{
	clear: both;
	background-color:inherit;	
	border-radius: 25px;
}

div.squareInfo{
	padding:10px;
	font-size: 1.1em;
	background-color: inherit;
	color:inherit;
}

div.puzzleSquare
{
	clear: both;
	float: left;
	padding:10px;
	background-color:inherit;
	color:inherit;
}

div.puzzleSize3
{
	min-width: 15%;
}

div.puzzleSize5
{
	min-width: 25%;
}

div.puzzleSize7
{
	min-width: 40%;
}

div.puzzleTerms
{
	padding: 10px;
	font-size: 1.2em;
	background-color:inherit;
	overflow:auto;
	border-radius: 25px;
}

div.puzzleTermsSize3
{
}

div.puzzleTermsSize5
{
}

div.puzzleTermsSize7
{
}

div.puzzleTerms td{
	text-align:left;
}

div.puzzleTerms td.answer{
	text-align:center;
	font-size:1.4em;
}
