/* CSS sheet from mm_entertainment template in Dreamweaver */
/* Modifications for the Video Training System by Ken Lowrie */
/* Global Styles */

video, canvas {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
}
	
video {
    height: 100%;
    position: absolute;
}

body {
	margin:0;
	padding: 0px;
	height: 100%;
	width: 100%;
	display: inline;
	}

td {
	font:14px arial;
	color:#14285f;
	}
	
hr {
	height:1px; 
	color: #cccccc;
	border: none;
	}
	
a {
	color: #14285f;
	text-decoration:none;
	}
	
a:hover {
	color: #FF3300;
	text-decoration:underline;
	}
	
/* ID Styles */

#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 96%; /* Holding outermost DIV */
}

#container {
    position: relative;
}

#container4 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background:#fff689; /* b2f0f9 column 4 background colour */
}
#container3 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:25%;
	background:#fff689; /* 89ffa2 column 3 background colour */
}
#container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:25%;
	background:#fff689; /* ffa7a7 column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:25%;
	background:#fff689; /* column 1 background colour */
}
#col1 {
	float:left;
	width:21%;
	position:relative;
	left:77%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:21%;
	position:relative;
	left:81%;
	overflow:hidden;
}
#col3 {
	float:left;
	width:21%;
	position:relative;
	left:85%;
	overflow:hidden;
}
#col4 {
	float:left;
	width:21%;
	position:relative;
	left:89%;
	overflow:hidden;
}

/* Class Styles */

.tdcat3 {
	font:22px arial;
	color:#14285f;
	padding:10px;
}

.tdtext3 {
	font:16px arial;
	color:#14285f;
	padding-left: 30px;
	}

.tdtext4 {
	font:16px arial;
	color:#14285f;
	padding-left: 30px;
	border: 1pt solid rgb(20,40,95);
	}

.videonav{
}

.videonav div{
	font: 16px arial;
	font-weight:bold;
}

.videonav a {
	text-decoration: none;
}

.videonav a:hover {
	text-decoration: underline;
}

