/* Global Styles */

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font-size: 100%;
	font: inherit;
	font-family:Arial;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

/*body {
	margin:0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	display: inline;*/	}

/*div{
		margin-left:10px;
}

table {
	border:none;
}

td {
	font:14px arial;
	color:#14285f;
	padding:10px;
	text-align:center;
	border: 1pt solid rgb(20,40,95);	
	}
	
hr {
	height:1px; 
	color: #cccccc;
	border: none;
	}

input {
	font:18px Arial;
}

select {
	font:18px Arial;
}*/

form {
	display:inline;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
	margin:0;
	padding:10px;
}

/*	
a {
	color: #14285f;
	text-decoration:none;
	}
	
a:hover {
	color: #FF3300;
	text-decoration:underline;
	}

*/
	
/* ID Styles */

/*#wrapper {
	padding:5px;
	margin-top: 10px;
    margin-right: auto;
    margin-left: 5px;
    width: 100%;
}*/

/* This is used by the <header> tag specified in header1.inc */
#mainHeader {
	background: gray;
	color: white;
	padding: 15px;
	text-align:center;
}

/* This wraps the Load Input File section */
#loadTerms{
	color:black;
	background-color: #FFFFCC;
	padding:10px;
}

#loadTerms h3{
	padding-left:0px;
}

#selectOptions
{
	padding-bottom: 10px;
	background-color: beige;
}

#selectOptions div.quizForm
{
}

#selectOptions div.mainLeft
{
	clear: both;
	float: left;
	margin-right:1%;
	text-align:right;
	width: 20%;
	min-width: 250px;
	border-bottom: 1px dashed black;
}

#selectOptions div.mainRight
{
	float: left;
	margin-left: 1%;
	width: 69%;
	font:18px arial;
	margin-top: 10px;
}

#selectOptions p.clearAndCenter
{
	clear:both;
	padding:10px;
	text-align:center;
}

#selectOptions form{
	display:inline;
}

#helpers
{
	clear:both;
	font-size:1em;
	background-color: #FFFFCC;
	padding:10px;
}

#helpers form{
	display:inline;
}

/*#outertext{
	clear:both;
	font:22px arial;
	color:#14285f;
}

#makequiz{
	clear:both;
	font:22px arial;
	color:#14285f;
}*/

#statusarea{
	clear:both;
	padding:5px;
	font-size: .8em;
	color:black;
	background-color: #CCCCCC;
}

/*#magicsquare {
	clear:both;
}

#clearboth {
	clear:both;
}

#left3
{
	float: left;
	width: 15%;
	margin-bottom: 10px;
}

#left5
{
	float: left;
	width: 25%;
	margin-bottom: 10px;
}

#left7
{
	float: left;
	width: 40%;
	margin-bottom: 10px;
}

#right
{
	float: left;
	width: 55%;
	font:22px arial;
	color:blue;
	margin-bottom: 10px;
}

#mainleft
{
	float: left;
	width: 20%;
	min-width: 250px;
	background-color: #FFFFCC;
	margin-bottom: 10px;
}

#mainright
{
	float: left;
	margin-left: 1%;
	width: 69%;
	font:18px arial;
	margin-top: 10px;
	margin-bottom: 10px;
}


#termtable{
	clear:both;
}
*/

/* Class Styles */

.quizmaker{
	width: 100%;	
}

.tdterm {
	font-size:14px; 
	font-family: arial;
	color:#14285f;
	padding:10px;
	text-align:left;
}

.ptdanswer {
	font-size:18px; 
	font-family: arial;
	color:black;
	padding:10px;
	text-align:center;
	width:10%;
}

.tddef {
	font-size:14px; 
	font-family: arial;
	color:#14285f;
	padding-left: 10px;
	text-align:left;
	min-width:400px;
}

.tdhterm{
	font-size:18px; 
	font-family: arial;
	text-align:center;
	font-weight:bold;	
}

.tdhansr{
	font-size:18px; 
	font-family: arial;
	text-align:center;
	font-weight:bold;	
	width:10%;
}

.tdhdefi{
	font-size:18px; 
	font-family: arial;
	text-align:center;
	font-weight:bold;	
}

.tdrow{
	width: 15%;
	font:18px Arial;
	text-align:right;
	font-weight:bold;
}

.tdinput{
	width: 35%;
	min-width: 250px;
	font:18px Arial;
	text-align:center;
}

.tddesc{
	width: 50%;
	font:18px Arial;
	text-align:left;
}

.tdtitle {
	font:18px arial;
	color:#14285f;
	/*padding-left: 10px;*/
	text-align:left;
	/*min-width:400px;*/
	border:none;
}

.directions{
	font-size:12px; 
	font-family: arial;
	color:#14285f;
	background-color: #FFFFCC;
}
