/* Global Styles */


body {
	margin:0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	display: inline;
	}

div{
		margin-left:10px;
}

table {
}

td {
	font:22px arial;
	color:#14285f;
	padding:10px;
	text-align:center;
	border: 1pt solid rgb(20,40,95);	
	}
	
hr {
	height:1px; 
	color: #cccccc;
	border: none;
	}

input {
	font:18px Arial;
}

select {
	font:18px Arial;
}

form {
	display:inline;
}

/*	
a {
	color: #14285f;
	text-decoration:none;
	}
	
a:hover {
	color: #FF3300;
	text-decoration:underline;
	}

*/
	
/* ID Styles */

#wrapper {
	margin-top: 10px;
    margin-right: auto;
    margin-left: 5px;
    width: 100%;
}

#outertext{
	clear:both;
	font:22px arial;
	color:#14285f;
}

#statusarea{
	clear:both;
	font:14px arial;
	color:#14285f;
	background-color: #999;
}

#step1{
	/*clear:both;*/
	font:18px arial;
	color:black;
	background-color: #999999;
}

#magicsquare {
	clear:both;
}

#clearboth {
	clear:both;
}

#left
{
	float: left;
	width: 25%;
	min-width: 250px;
	/*height: 150px;
	background-color: #999;*/
	margin-bottom: 10px;
}

#right
{
	float: left;
	margin-left: 5%;
	width: 65%;
	font:22px arial;
	color:blue;
	/* height: 150px;
	background-color: #999; */
	margin-bottom: 10px;
}

#mainleft
{
	float: left;
	width: 20%;
	min-width: 250px;
	/*height: 150px;*/
	background-color: #FFFFCC;
	margin-bottom: 10px;
}

#mainright
{
	float: left;
	margin-left: 1%;
	width: 69%;
	font:18px arial;
	/* color:blue;
	height: 150px;
	background-color: #FFFFCC;*/
	margin-top: 10px;
	margin-bottom: 10px;
}

#termtable{
	clear:both;
}

/* Class Styles */

.tdterm {
	font:18px arial;
	color:#14285f;
	padding:10px;
	text-align:left;
}

.quizmaker{
	width: 100%;	
}

.tddef {
	font:18px arial;
	color:#14285f;
	padding-left: 10px;
	text-align:left;
	min-width:400px;
}

.tdheader{
	font:22px Arial;
	text-align:center;
	font-weight:bold;	
}

.tdrow{
	width: 15%;
	font:18px Arial;
	text-align:right;
	font-weight:bold;
}

.tdinput{
	width: 35%;
	min-width: 250px;
	font:18px Arial;
	text-align:center;
}

.tddesc{
	width: 50%;
	font:18px Arial;
	text-align:left;
}
