/* Global Styles */

body {
	margin:0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	display: inline;
	}

div{
}

table {
	border:none;
}

tr {
		page-break-inside:avoid;
}

td {
	font-size:22px; 
	font-family: arial;
	color:black;
	padding:10px;
	text-align:center;
	border: 1pt solid rgb(20,40,95);	
	}
	
th {
	font-size:22px; 
	font-family: arial;
	color:black;
	padding:10px;
	text-align:center;
	border: 1pt solid rgb(20,40,95);	
	}

hr {
	height:1px; 
	color: #cccccc;
	border: none;
	}
	
/* ID Styles */

#maintext{
	clear:both;
	font-size:22px; 
	font-family: arial;
	color:black;
}

#puzzle{
	clear:both;
	font-size:22px; 
	font-family: arial;
	color:black;
}

#termtable{
	clear:both;
}

/* Class Styles */

.ptdhterm{
	font-size:18px; 
	font-family: arial;
	text-align:center;
	font-weight:bold;	
}

.ptdhansr{
	font-size:18px; 
	font-family: arial;
	text-align:center;
	font-weight:bold;	
	width:10%;
}

.ptdhdefi{
	font-size:18px; 
	font-family: arial;
	text-align:center;
	font-weight:bold;	
}

.ptdterm {
	font-size:18px; 
	font-family: arial;
	color:black;
	padding:10px;
	text-align:left;
	page-break-inside:avoid;
	width:30%;
}

.ptdanswer {
	font-size:38px; 
	font-family: Arial;
	color:black;
	padding:10px;
	text-align:center;
	page-break-inside:avoid;
	width:10%;
}

.ptddef {
	font-size:18px; 
	font-family: arial;
	color:black;
	padding-left: 10px;
	text-align:left;
	width:60%;
	page-break-inside:avoid;
}

.tdtitle1 {
	font-size:22px; 
	font-family: arial;
	color:black;
	text-align:left;
	border:none;
}

.tdtitle2 {
	font-size:16px; 
	font-family: arial;
	color:black;
	text-align:left;
	border:none;
	min-width:65%;
}

.directions{
	font-size:16px; 
	font-family: arial;
	color:black;
}

.bigsquare {
	font-size:24px; 
	font-family: arial;
	color:black;
	padding:10px;
	text-align:center;
	min-width:25px;
	min-height:45px;
}

.giant {
	font-size:60px; 
	font-family: arial;
	color:black;
	padding:10px;
	text-align:center;
}
